body {
    width: 65%;
    min-width: 1024px;
    margin: 0 auto;
    outline: none;
    padding-right: 0 !important;
}

header {
    margin-top: 20px;
}

* {
    outline: none;
    list-style-type: none;
}

.hide-tab-link {
    display: none !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* bs styles recreate */

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: transparent !important;
}


/* bs styles recreate end */


/*Login-page start*/

.login-form {
    width: 367px;
    margin: 160px auto;
}

.login-form input {
    height: 50px;
}

.login-form label {
    font-weight: normal;
    margin-top: 10px;
    color: red;
}

.login-block {
    margin-top: 10px;
}

.login-block ul {
    margin: 0;
    padding: 0;
}

.form-logo {
    text-align: center;
}

.form-main {
    margin-top: 20px;
}

.field {
    margin-top: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 10px;
    border: solid #bebebe 1px;
    padding-left: 40px;
    color: #bebebe;
}

.form-user {
    background-image: url(../img/login-icon.png);
}

.form-pwd {
    background-image: url(../img/pass-icon.png);
}

.form-check {
    display: inline-block;
    width: 100%;
}

.form-check input {
    float: left;
}

.form-check p {
    float: left;
    padding-left: 34px;
    vertical-align: middle;
}

.form-check label {
    cursor: pointer;
    color: #656565;
    font-weight: normal;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

input[type=checkbox]+label:before {
    left: -126px;
    top: 1px;
    content: "✓";
    color: transparent;
    display: inline-block;
    border: 1px solid #c3c3c3;
    font-size: 20px;
    line-height: 22px;
    margin: -5px 5px 0px 0px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease 0.3s;
    position: relative;
}

input[type=checkbox]:checked+label:before {
    color: #000;
}

.form-captcha {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 70px;
    width: 100%;
    background-color: #c3c3c3;
    text-align: center;
}

.form-button {
    width: 100%;
    border: none;
    background-color: #ec9e25;
    text-transform: uppercase;
    color: #ffffff;
}


/*Login-page end*/


/*choice date start*/

.error {
    color: red;
    padding-top: 10px;
    font-weight: normal;
    margin: 0;
}

.add-year-block h4 {
    color: #939393;
    text-transform: uppercase;
}

.select-new-year input {
    border-radius: 0;
}

.login-block li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    color: #939393;
    padding: 4px;
    padding-top: 0px;
    margin-top: 0px;
}

.add-year-block {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #939393;
}

.actual-year {
    width: 100%;
    text-align: center;
}

.years {
    margin: 0 auto;
}

.actual-year button:last-child {
    margin-right: 0;
}

.actual-year button {
    width: 100px;
    padding: 8px;
    margin-right: 20px;
    border-radius: 0;
    border: none;
    background-color: #ec9e25;
    color: #ffffff;
}

.actual-year button a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 25px;
}

.actual-year button:hover {
    background-color: #ec9e25;
}

.actual-year button:focus {
    outline: none;
}

.add-year {
    padding: 12px;
    border: none;
    border-radius: 0;
    width: 200px;
    margin-top: 10px;
    background-color: #6480a0;
    background-image: url(../img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    color: #ffffff;
    position: relative;
    bottom: 55px;
}

.add-year:hover {
    background-color: #6480a0;
}

.add-year:active {
    background-color: #6480a0;
    border: none;
}

.add-year:focus {
    outline: none;
}

.archive-years {
    margin-top: 30px;
}

.archive-years h4 {
    color: #939393;
    text-transform: uppercase;
}

.add-archive {
    padding: 12px;
    border: none;
    border-radius: 0;
    width: 200px;
    margin-top: 10px;
    background-color: #c0c0c0;
    background-image: url(../img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    color: #ffffff;
    position: relative;
    bottom: 50px;
}

.add-archive:hover {
    background-color: #c0c0c0;
}

.add-archive:focus {
    outline: none;
}

.old-years {
    text-align: center;
}

.old-years button:last-child {
    margin-right: 0;
}

.old-years button {
    width: 100px;
    padding: 8px;
    border-radius: 0;
    border: none;
    color: #ffffff;
    background-color: #c0c0c0;
    margin-right: 20px;
}

.old-years button:focus {
    outline: none;
}

.old-years button a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 25px;
}

.modal-body {
    padding: 5px 15px 25px 15px;
}

.modal-header {
    background-color: #6480a0;
    color: #ffffff;
}

.modal-header h4 {
    text-transform: uppercase;
}

.modal-dialog {
    width: 800px;
    margin: 120px auto;
}

.modal-content {
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.select-copy-year,
.select-new-year {
    width: 48%;
}

.select-copy-year p,
.select-new-year p {
    color: #939393;
    margin-bottom: 5px;
    font-weight: 700;
}

.select-copy-year select,
.select-new-year select {
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 0;
    color: #c8c8c8;
}

.modal-header-title {
    width: 50%;
    margin-left: 11px;
}

.select-year-archive {
    width: 100%;
}

.select-year-archive label {
    color: #939393;
}

.select-year-archive select {
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 0;
    color: #c8c8c8;
}

.select-year-archive select:focus {
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}


/*choice date end*/


/*nav start*/

nav * {
    box-shadow: none !important;
}

.main-navigation {
    margin-top: 15px;
    height: 60px;
}

.main-navigation li a {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #939393;
}

.main-navigation-logo img {
    margin-top: 4px;
    margin-right: 5px;
}

.main-nav-menu-item {
    margin-left: -1px;
    border: solid #ffffff 1px;
    border-left: solid #cdcdcd 1px;
}

.main-nav-menu-item:hover {
    border-right: solid #cdcdcd 1px !important;
    border-left: solid #cdcdcd 1px !important;
    background-color: #ffffff !important;
}

.main-nav-menu-item:focus {
    border: solid #cdcdcd 1px !important;
    background-color: #ffffff !important;
}

.main-nav-menu-item:focus .main-nav-menu-badge,
.main-nav-menu-item:active .main-nav-menu-badge {
    display: none;
}

.main-nav-hide-menu-down {
    display: none;
}

.main-nav-menu-item:focus .main-nav-hide-menu-down {
    display: inline-block;
}

.main-nav-dropdown-menu {
    padding: 0 0;
    border: none;
    margin-left: -1px;
    margin-top: -1px !important;
}

.main-nav-dropdown-menu li {
    border-top: solid #cdcdcd 1px;
    border-left: solid #cdcdcd 1px;
    border-right: solid #cdcdcd 1px;
}

.main-nav-dropdown-menu li a {
    border-left: solid transparent 2px;
}

.main-nav-dropdown-menu li a:hover,
.main-nav-dropdown-menu li a:focus {
    background-color: #ffffff;
}

.main-nav-dropdown-menu li:last-child {
    border-bottom: solid #cdcdcd 1px;
}

.main-nav-dropdown-menu>li>a:focus,
.main-nav-dropdown-menu>li>a:hover {
    border-left: solid #ec9e25 2px;
}

.main-nav-item-with-badge {
    width: 120px;
}

.main-nav-item-with-badge a {
    width: 120px;
}

.main-nav-item-with-badge a img {
    height: 26px;
    width: 45px;
}

.main-nav-badge {
    margin-left: 5px;
    margin-bottom: 2px;
    width: 30px;
    background-color: #ec9e25;
}

.main-nav-menu-badge {
    position: absolute;
    bottom: 22px;
    right: 9px;
    width: 30px;
    background-color: #ec9e25;
}

.main-nav-menu-first {
    border-left: solid #ffffff 1px;
}


/* main nav user block */

.main-nav-login-block {
    float: right;
    margin-right: -1px;
    margin-top: -9px;
}

.main-nav-user-block {
    float: right;
}

.main-nav-user-block ul {
    margin-bottom: 0px;
}

.main-nav-user-block li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    color: #939393;
    padding: 4px;
}

.main-nav-select {
    border-radius: 0;
    color: #ffffff;
    background-color: #ec9e25;
    height: 30px;
    border: none;
    font-size: 14px;
    width: 190px;
    float: right;
    height: 30px;
    padding: 0px;
}

.main-nav-select ul li a:focus,
.main-nav-select a:hover,
.main-nav-select ul li a:active {
    border: none !important;
    text-decoration: none;
    color: #ffffff;
    background-color: #ec9e25 !important;
}

.main-nav-select span {
    padding-left: 90px;
}

.main-nav-select ul li {
    background-color: #fdc773;
    margin-bottom: 1px;
    border: none !important;
    height: 30px;
}

.main-nav-select ul li a {
    background-color: #fdc773;
    border: none;
    color: #ffffff;
    font-size: 14px;
}

.main-nav-select ul li a:focus,
.main-nav-select ul li a:hover {
    background-color: #fdc773;
    border: none;
}

.main-nav-item-current {
    position: relative;
    top: 4px;
    left: 5px;
    border: none;
    text-decoration: none !important;
    color: #ffffff !important;
    width: 190px;
    height: 130px;
    font-size: 14px;
    padding: 5px 11px 8px 2px;
}

.main-nav-drop-select {
    background-color: transparent !important;
    box-shadow: none;
    border: none;
    position: relative;
    top: 4px;
}

.main-nav-drop-select li {
    width: 190px;
    height: 30px;
}

.main-nav-drop-select li a {
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 0px;
    height: 29px;
}

.main-nav-drop-select li a:focus,
.main-nav-drop-select li a:hover {
    color: #ffffff;
}


/*nav end*/


/*modal start*/

.modal {
    padding-right: 0px !important;
}

.country-modal-dialog {
    width: 800px;
    margin: 30px auto;
}

.modal-content {
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.modal-header {
    background-color: #6480a0;
    color: #ffffff;
}

.modal-header h4 {
    font-weight: bold;
    color: #ffffff;
}

.btn-create {
    background-image: url(../img/create-icon.png);
    background-repeat: no-repeat;
    background-position: 8% 50%;
    background-color: #8bc04b;
    color: #ffffff;
    border-radius: 0;
    border: none;
    margin-right: 5px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-cancel {
    display: block;
    float: right;
    height: 36px;
    width: 100px;
    background-image: url(../img/cancel-icon.png);
    background-repeat: no-repeat;
    background-position: 8% 50%;
    background-color: #e54256;
    color: #ffffff;
    border-radius: 0;
    border: none;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-add {
    background-image: url(../img/create-icon.png);
    background-repeat: no-repeat;
    background-position: 8% 50%;
    background-color: #8bc04b;
    color: #ffffff;
    border-radius: 0;
    border: none;
    margin-right: 5px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modal-left {
    float: left;
}

.modal-right {
    float: right;
}

.btn-create,
.btn-cancel,
.btn-add {
    width: 100px;
}

.btn-create:focus,
.btn-cancel:focus,
.btn-add:focus {
    outline: none;
}

.btn-create:hover,
.btn-add:hover {
    background-color: #6e9a38;
}

.btn-cancel:hover {
    background-color: #b52335;
}

.btn-create:active,
.btn-add:active {
    background-color: #8bc04b;
}

.btn-cancel:active {
    background-color: #e54256;
}


/*modal end*/


/*ships start*/


/* second nav */

.second-nav {
    background-color: #6480a0;
    border-radius: 0;
    height: 70px;
    margin-bottom: 0;
}

.second-nav * {
    list-style-type: none;
    outline: none !important;
    box-shadow: none !important;
}

.second-nav-menu-items {
    width: 100%;
    height: 50px;
    padding-top: 7px;
}

.second-nav-menu-item {
    margin-right: 9px;
    border: none;
}

.second-nav-menu-item a {
    color: #ffffff;
    border: none;
    background-color: transparent;
}

.second-nav-menu-item a:hover,
.second-nav-menu-item a:focus {
    background-color: transparent !important;
}

.second-nav-dropdown-nav {
    margin-right: 0 !important;
    float: right !important;
}

.second-nav-menu-item-active {
    position: relative;
    bottom: 7px;
}

.second-nav-menu-item-active:before {
    content: "•";
    color: #ec9e25;
    font-size: 242%;
    position: relative;
    top: 7px;
    right: 7px;
}

.second-nav-dropdown-nav a:focus {
    background-color: transparent;
    border: none;
}

.second-nav-dropdown-nav a:focus,
.second-nav-dropdown-nav a:hover,
.second-nav-dropdown-nav a {
    background-color: transparent !important;
}

.second-nav-dropped-menu-items {
    position: absolute;
    left: -111px;
    top: 62px;
    border: none;
    padding: 0;
}

.second-nav-dropped-menu-items li {
    border-top: solid #cdcdcd 1px;
    border-left: solid #cdcdcd 1px;
    border-right: solid #cdcdcd 1px;
    margin: 0;
}

.second-nav-dropped-menu-items li a {
    border-left: solid transparent 2px;
    background-color: #ffffff;
    color: #959595;
}

.second-nav-dropped-menu-items li a:hover,
.second-nav-dropped-menu-items li a:hover:focus {
    border-left: solid #ec9e25 2px;
}

.second-nav-dropped-menu-items li a:hover,
.second-nav-dropped-menu-items li a:focus {
    background-color: transparent !important;
}

.second-nav-dropped-menu-items li:last-child {
    border-bottom: solid #cdcdcd 1px;
}

.second-nav-dropped-menu-items li:last-child {
    float: none;
}


/* second nav end */


/* search block */

.search-block {
    width: 100%;
    height: auto;
    border-bottom: dotted #959595 2px;
    margin-bottom: 20px;
}

.base-page-breadcrumb {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    list-style: none;
    background-color: #ffffff;
    border-radius: 0px;
}

.base-page-breadcrumb li {
    display: inline-block;
}

.base-page-breadcrumb a {
    color: #a6a6a6;
    font-size: 12px;
}

.base-page-breadcrumb>.active {
    color: #a6a6a6;
    font-size: 12px;
}

.base-page-breadcrumb>li+li:before {
    padding: 0 0px;
    color: #ccc;
    content: "/\00a0";
}

.search {
    width: 50%;
    margin-bottom: 5px;
}


/*.base-page-language {
    float: right;
    width: 50%;
}

.base-page-language p {
    float: right;
    margin-right: 20px;
}*/


/* search block end */


/* label and buttons up from table */

.base-page-navigation-table {
    width: 100%;
    height: 39px;
    margin-bottom: 11px;
}

.base-page-table-label {
    width: 25%;
    float: left;
}

.base-page-table-label p {
    color: #a6a6a6;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 16px;
}

.base-page-table-add-button {
    width: 25%;
    float: right;
}

.base-page-table-add {
    float: right;
    width: auto;
    border: 1px solid #ec9e25;
    border-radius: 0;
    background-color: #ec9e25;
    background-image: url(../img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: 10%;
    color: #ffffff;
    padding: 8px 60px 8px 60px;
}

.base-page-table-add:hover {
    color: #ffffff;
}

.base-page-table-nav-buttons {
    width: 100%;
    margin-bottom: 10px;
}

.base-page-table-nav-buttons ul {
    border-bottom: none;
}

.base-page-table-nav-buttons .nav li {
    display: inline-block;
    float: none;
    margin-bottom: 0;
}

.base-page-table-nav-buttons .nav-tabs {
    text-align: center;
}

.base-page-table-nav-buttons .nav li.active a {
    padding: 8px 30px 8px 30px;
    color: #ffffff;
    border: 1px solid #6480a0;
    border-radius: 0;
    background-color: #6480a0;
}

.base-page-table-nav-buttons .nav a {
    border: 1px solid #6480a0;
    border-radius: 0;
    background-color: #ffffff;
    color: #6480a0;
    padding: 8px 30px 8px 30px;
    margin-left: -6px;
}


/*.base-page-table-nav-buttons li .active {
    border: 1px solid #6480a0;
    border-radius: 0;
    background-color: #6480a0;
    color: #ffffff;
    padding: 8px 34px 8px 34px;
    margin-right: -7px;
}

.base-page-table-nav-hotels {
    border: 1px solid #6480a0;
    border-radius: 0;
    background-color: #ffffff;
    color: #6480a0;
    padding: 8px 30px 8px 30px;
}*/


/* label and buttons up from table end */


/* base table start */

.sort-top {
    padding-bottom: 10px;
    padding-right: 10px;
}

.sort-bottom {
    padding-right: 10px;
}

.custom-table th {
    background-color: #6480a0;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

.custom-table td {
    color: #7a7a7a;
    border-right: 1px solid #b5b5b5;
}

.custom-table th:last-child {
    border-right: none;
}

.custom-table td:last-child {
    border-right: none;
}


/* width for table ships */

.table-ships {
    margin-top: 70px;
}

.table-ships thead tr th:first-child {
    width: 10%;
}

.table-ships thead tr th:nth-child(2) {
    width: 40%;
}

.table-ships thead tr th:nth-child(3) {
    width: 25%;
}

.table-ships thead tr th:last-child {
    width: 25%;
}


/* width for table ships end */


/* width for table hotels */

.table-hotels {
    margin-top: 70px;
}

.table-hotels thead tr th:first-child {
    width: 10%;
}

.table-hotels thead tr th:nth-child(2) {
    width: 35%;
}

.table-hotels thead tr th:nth-child(3) {
    width: 15%;
}

.table-hotels thead tr th:nth-child(4) {
    width: 15%;
}

.table-hotels thead tr th:last-child {
    width: 25%;
}


/* width for table ships end*/


/* width for table city */

.table-city {
    margin-top: 70px;
}

.table-city thead tr th:first-child {
    width: 50%;
}

.table-city thead tr th:last-child {
    width: 50%;
}


/* width for table city end */


/* sort start */

.inner-table-label {
    width: 70%;
    float: left;
}

.inner-table-notation {
    width: 70%;
    float: left;
}

.inner-table-notation p {
    color: #a6a6a6;
    margin-top: 2px;
    margin-bottom: 0;
}

.table-sort {
    width: 3%;
    float: right;
    font-weight: 100;
}

.table-sort a {
    color: #ffffff;
}

.sort-top {
    height: 8px;
}

.table-sort span {
    float: right;
    width: 100%;
    cursor: pointer;
}


/* sort end */

.custom-dropdown-table ul {
    position: absolute;
    left: -86px;
    top: -8px;
    min-width: 100px;
    box-shadow: none;
}

.custom-dropdown-table ul li {
    width: 30px;
    float: left;
    height: 30px;
    border: none !important;
    background-color: transparent;
}

.custom-dropdown-table ul li a {
    border: none;
    width: 20px !important;
    margin-top: 4px;
    margin-left: 8px;
    padding: 0;
}

.custom-dropdown-table ul li a:hover,
.custom-dropdown-table ul li a:focus {
    border: none;
}

.custom-dropdown-table ul li a img {
    width: 20px;
    height: 20px;
}


/* dropped edit */

.table-floating-left-element {
    float: left;
}

.custom-dropdown-table {
    float: right;
    margin: 0;
}

.custom-dropdown-table ul {
    position: absolute;
    left: -86px;
    top: -8px;
    min-width: 100px;
    box-shadow: none;
}

.custom-dropdown-table ul {
    position: absolute;
    left: -66px;
    top: -6px;
    min-width: 73px;
    box-shadow: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    background-image: url(../img/bg-table-drop-icon.png);
    background-repeat: no-repeat;
}

.custom-dropdown-table ul li {
    width: 30px;
    float: left;
    height: 30px;
    border: none !important;
    background-color: transparent;
}

.custom-dropdown-table ul li:first-child {}

.table-droped-elements a:hover,
.table-droped-elements a:focus {
    background-color: transparent !important;
}

.inner-table-button-hovered {
    border: none;
    width: 20px !important;
    margin-top: 4px;
    margin-left: 8px;
    padding: 0;
    color: #a6a6a6;
}

.inner-table-button-hovered:hover,
.inner-table-button-hovered:focus {
    border: none;
    color: #fa7070;
}

.custom-dropdown-table ul li a img {
    width: 20px;
    height: 20px;
}

.glyphicon-active {
    color: #ec9e25;
}


/* dropped edit end */


/* base table end */


/* modals */

.modal {
    padding-right: 0px !important;
}

.modal-header .close {
    margin-top: 6px;
}


/* modal country start */

.country-modal-dialog {
    width: 800px;
    margin: 30px auto;
}

.country-modal-content {
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.country-modal-header {
    background-color: #6480a0;
    color: #ffffff;
}

.country-close {
    opacity: 1;
}

.country-close:hover {
    opacity: 1;
}

.country-search-block {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.country-search-add {
    float: left;
    width: 2%;
    padding-top: 7px;
    margin-right: 11px;
    margin-left: 5px;
}

.country-search-placeholder {
    width: 92%;
    float: left;
    height: 30px;
}

.country-search-submit {
    box-sizing: border-box;
    padding: 7px;
    width: 30px;
    float: left;
    height: 30px;
    background-color: #b3b2b3;
    background-repeat: no-repeat;
}

.table-label {
    float: left;
}

.country-table-links {
    float: right;
}

.country-table-links img {
    width: 25px;
    height: 25px;
}

.country-table tr,
.country-table td {
    border: none !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e9e9e9;
}


/* modal country end */


/*ships end*/


/*room category start*/

.modal-table-links img {
    width: 18px;
    height: 18px;
}

.modal-search-placeholder
    /*.country-search-placeholder (old-class)*/

{
    width: 88%;
    float: left;
    height: 30px;
    color: #d6d6d6;
    padding-left: 5px;
    border-right: none !important;
    border: solid #b3b2b3 1px;
}

.country-search-submit {
    float: right;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-table-links {
    float: right;
}

.modal-search-add-button
    /*.country-search-add (old-class)*/

{
    float: left;
    width: 2%;
    padding-top: 7px;
    margin-right: 11px;
    margin-left: 5px;
    cursor: pointer;
}

.modal-search-submit
    /*.country-search-submit */

{
    box-sizing: border-box;
    padding: 7px;
    width: 30px;
    float: right;
    height: 30px;
    background-color: #b3b2b3;
    background-repeat: no-repeat;
}

.modal-search-block
    /*.country-search-block */

{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}


/* !!! */

.modal-search-form {
    padding-top: 15px;
}

.inner-modal-search {
    border-top: solid #b3b2b3 1px !important;
    border-bottom: solid #b3b2b3 1px !important;
    height: 30px !important;
    width: 31px !important;
}

.modal-table-language {
    padding-top: 10px;
}


/* style using in js */


/* edit input & buttons */

.modal-addnew {}

.inner-table-edit {
    width: 93%;
    display: inline-block;
}

.inner-table-edit-buttons {
    width: 7%;
    float: right;
}

.inner-table-edit input {
    width: 100%;
    border: none;
    height: 25px;
    color: #7b7b7b;
    padding-left: 5px;
}

.inner-table-decline,
.inner-table-confirm {
    height: 25px;
    width: 26px;
    border: none;
    background-color: #ffffff;
}

.inner-table-decline span,
.inner-table-confirm span {
    color: #7b7b7b;
}

.glyphicon-ok {
    -webkit-text-stroke: 2px #ffffff;
}

.glyphicon-remove {
    -webkit-text-stroke: 2px #ffffff;
}

.table-pen {
    margin-right: 10px;
}


/* edit input & buttons end */


/*room category start*/

.modal-table-links img {
    width: 18px;
    height: 18px;
}

.modal-search-placeholder
    /*.country-search-placeholder (old-class)*/

{
    width: 88%;
    float: left;
    height: 30px;
    color: #d6d6d6;
    padding-left: 5px;
    border-right: none !important;
    border: solid #b3b2b3 1px;
}

.country-search-submit {
    float: right;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-table-links {
    float: right;
}

.modal-search-add-button
    /*.country-search-add (old-class)*/

{
    float: left;
    width: 2%;
    padding-top: 7px;
    margin-right: 11px;
    margin-left: 5px;
    cursor: pointer;
}

.modal-search-submit
    /*.country-search-submit */

{
    box-sizing: border-box;
    padding: 7px;
    width: 30px;
    float: right;
    height: 30px;
    background-color: #b3b2b3;
    background-repeat: no-repeat;
}

.modal-search-block
    /*.country-search-block */

{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}


/* !!! */

.modal-search-form {
    padding-top: 15px;
}

.inner-modal-search {
    border-top: solid #b3b2b3 1px !important;
    border-bottom: solid #b3b2b3 1px !important;
    height: 30px !important;
    width: 31px !important;
}

.modal-table-language {
    padding-top: 10px;
}


/* modal general */


/* edit input & buttons */

.modal-addnew {}

.inner-table-edit {
    width: 93%;
    display: inline-block;
}

.inner-table-edit-buttons {
    width: 7%;
    float: right;
}

.inner-table-edit input {
    width: 100%;
    border: none;
    height: 25px;
    color: #7b7b7b;
    padding-left: 5px;
}

.inner-table-decline,
.inner-table-confirm {
    height: 25px;
    width: 26px;
    border: none;
    background-color: #ffffff;
}

.inner-table-decline span,
.inner-table-confirm span {
    color: #7b7b7b;
}

.glyphicon-ok {
    -webkit-text-stroke: 2px #ffffff;
}

.glyphicon-remove {
    -webkit-text-stroke: 2px #ffffff;
}

.table-pen {
    margin-right: 10px;
}


/* edit input & buttons end */


/* modal general end */


/* modal rooms */

.modal-table-rooms {}

.modal-table-rooms thead tr th:first-child {
    width: 30%;
}

.modal-table-rooms thead tr th:nth-child(2) {
    width: 7%;
}

.edit2-colored {
    background-color: #ffeccc;
}

.inner-table-edit2 {
    padding-left: 15px;
    padding-right: 10px;
}

.table-edit-element {
    width: 100%;
    height: 30px;
}

.table-edit-element p {
    width: 25%;
    float: left;
}

.modal-edit2-input,
.modal-edit2-checkbox {
    width: 75%;
    float: right;
}

.modal-edit2-input input {
    width: 100%;
    padding-left: 5px;
    height: 25px;
}

.modal-edit2-input select {
    width: 100%;
    padding-left: 2px;
    height: 25px;
}

.modal-edit2-checkbox input[type=checkbox] {
    display: block;
}

.inner-table-edit2-buttons {
    width: 7%;
    float: right;
}

.inner-table-decline2,
.inner-table-confirm2 {
    height: 25px;
    width: 26px;
    border: none;
    background-color: #ffeccc;
}

.inner-table-decline2 span,
.inner-table-confirm2 span {
    -webkit-text-stroke: 2px #ffeccc;
}


/* modal rooms end */

.modal-table-links img {
    width: 18px;
    height: 18px;
}

.modal-search-placeholder
    /*.country-search-placeholder (old-class)*/

{
    width: 88%;
    float: left;
    height: 30px;
    color: #d6d6d6;
    padding-left: 5px;
    border-right: none !important;
    border: solid #b3b2b3 1px;
}

.country-search-submit {
    float: right;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-table-links {
    float: right;
}

.modal-search-add-button
    /*.country-search-add (old-class)*/

{
    float: left;
    width: 2%;
    padding-top: 7px;
    margin-right: 11px;
    margin-left: 5px;
    cursor: pointer;
}

.modal-search-submit
    /*.country-search-submit */

{
    box-sizing: border-box;
    padding: 7px;
    width: 30px;
    float: right;
    height: 30px;
    background-color: #b3b2b3;
    background-repeat: no-repeat;
}

.modal-search-block
    /*.country-search-block */

{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}


/* !!! */

.modal-search-form {
    padding-top: 15px;
}

.inner-modal-search {
    border-top: solid #b3b2b3 1px !important;
    border-bottom: solid #b3b2b3 1px !important;
    height: 30px !important;
    width: 31px !important;
}

.modal-table-language {
    padding-top: 10px;
}


/* modal general */


/* edit input & buttons */

.modal-addnew {}

.inner-table-edit {
    width: 93%;
    display: inline-block;
}

.inner-table-edit-buttons {
    width: 7%;
    float: right;
}

.inner-table-edit input {
    width: 100%;
    border: none;
    height: 25px;
    color: #7b7b7b;
    padding-left: 5px;
}

.inner-table-decline,
.inner-table-confirm {
    height: 25px;
    width: 26px;
    border: none;
    background-color: #ffffff;
}

.inner-table-decline span,
.inner-table-confirm span {
    color: #7b7b7b;
}

.glyphicon-ok {
    -webkit-text-stroke: 2px #ffffff;
}

.glyphicon-remove {
    -webkit-text-stroke: 2px #ffffff;
}

.table-pen {
    margin-right: 10px;
}


/* edit input & buttons end */


/* modal general end */


/* modal airports start */


/* modal rooms */

.modal-table-rooms {}

.modal-table-rooms thead tr th:first-child {
    width: 30%;
}

.modal-table-rooms thead tr th:nth-child(2) {
    width: 7%;
}

.edit2-colored {
    background-color: #ffeccc;
}

.inner-table-edit2 {
    padding-left: 15px;
    padding-right: 10px;
}

.table-edit-element {
    width: 100%;
    height: 30px;
}

.table-edit-element p {
    width: 25%;
    float: left;
}

.modal-edit2-input,
.modal-edit2-checkbox {
    width: 75%;
    float: right;
}

.modal-edit2-input input {
    width: 100%;
    padding-left: 5px;
    height: 25px;
}

.modal-edit2-input select {
    width: 100%;
    padding-left: 2px;
    height: 25px;
}

.modal-edit2-checkbox input[type=checkbox] {
    display: block;
}

.inner-table-edit2-buttons {
    width: 7%;
    float: right;
}

.inner-table-decline2,
.inner-table-confirm2 {
    height: 25px;
    width: 26px;
    border: none;
    background-color: #ffeccc;
}

.inner-table-decline2 span,
.inner-table-confirm2 span {
    -webkit-text-stroke: 2px #ffeccc;
}


/* modal rooms end */


/* modal airports */

.modal-table-airports thead tr th:first-child {
    width: 40%;
}

.modal-table-airports thead tr th:nth-child(2) {
    width: 60%;
}


/* modal airports end */


/*add city modal start*/

.city-modal-left {
    width: 40%;
    float: left;
}

.city-modal-left input,
.city-modal-left select {
    width: 100%;
    border-radius: 0;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #a0acb7;
    color: #9ca2a9;
    padding-left: 10px;
}

.modal-input-city .error {
    padding: 0;
    margin: 0;
}

.modal-country-select .error {
    padding: 0;
    margin: 0;
}

.city-modal-right {
    width: 60%;
    float: right;
    padding-left: 20px;
}

.city-modal-right textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #a0acb7;
    color: #9ca2a9;
}


/*add city modal end*/


/*ships search start */

.search-ships {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.search-cities {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.base-page-navigation-table form {
    margin-top: 5px;
}

.base-page-navigation-table select {
    width: 25%;
    float: left;
    height: 30px;
    border-radius: 0;
    border: solid 1px #cccccc;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cccccc;
}

.search-placeholder {
    width: 250px;
    float: left;
    height: 30px;
    border: solid 1px #cccccc;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cccccc;
}

.search-placeholder::placeholder {
    color: #cccccc;
}

.search-submit {
    box-sizing: border-box;
    padding: 7px;
    width: 30px;
    float: left;
    height: 30px;
    background-color: #b3b2b3;
    background-repeat: no-repeat;
}


/*ships search end */


/*pagination start*/

.pagination {
    margin-top: 0px;
    margin-bottom: 0px;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #9ca2a9;
}

.pagination li:last-child a,
.pagination li:last-child span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #9ca2a9;
}

.pagination .active a,
.pagination .active a:focus,
.pagination .active a:hover,
.pagination .active span,
.pagination .active span:focus,
.pagination .active span:hover {
    color: #fff;
    background-color: #6480a0;
    border-color: #6480a0;
}

.pagination li a,
.pagination li span {
    color: #9ca2a9;
    background-color: #ffffff;
    border: 1px solid #a0acb7;
}

.pagination .disabled a,
.pagination .disabled a:focus,
.pagination .disabled a:hover,
.pagination .disabled span,
.pagination .disabled span:focus,
.pagination .disabled span:hover {
    color: #9ca2a9;
    background-color: #ffffff;
    border-color: #a0acb7;
}

.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
    color: #7793b0;
    background-color: #ffffff;
    border-color: #6480a0;
}

.row .col-md-6 p {
    color: #9ca2a9;
    display: inline-block;
}

.btn {
    color: #7793b0;
    background-color: #ffffff;
    border-color: #a0acb7;
    border: 1px solid #a0acb7;
    border-radius: 0;
}

.btn:hover {
    color: #7793b0;
    background-color: #ffffff;
    border-color: #6480a0;
}


/*pagination end*/


/*add ships page start*/

.addships-title {
    color: #ffffff;
}

.addships-buttons {
    margin-top: 15px;
}

.next-btn {
    background-image: url(../img/next-icon.png);
    background-repeat: no-repeat;
    background-position: 8% 50%;
}


/*add ships page end*/


/* modal save changes start*/

.modal-save-changes {
    margin: 0 auto;
}

.modal-save-changes .modal-header {
    background-color: #ffffff;
}

.modal-save-changes h4 {
    padding-top: 5px;
    color: #6480a0;
}


/* modal save changes end*/


/* ships start */

.left-side-details {
    width: 50%;
}

.right-side-details {
    width: 50%;
}

.add-hotel-table-nav-tabs li:first-child {
    margin-right: -3px;
}

.ships-built-placeholder,
.ships-renovation-placeholder,
.ships-width-placeholder,
.ships-length-placeholder,
.ships-draugth-placeholder {
    width: 85%;
    height: 30px;
    float: left;
    border: 1px solid #cccccc;
    border-right: none;
}

.add-ships-table-row2 p {
    margin-bottom: 0px;
    margin-top: 35px;
}

.ships-decks-placeholder,
.ships-cabins-placeholder,
.ships-pax-placeholder {
    width: 95%;
    height: 30px;
    float: left;
    border: 1px solid #cccccc;
}

.ships-year-btn,
.ships-meter-btn {
    padding-bottom: 2px;
    width: 10%;
    height: 35px;
    color: #ffffff;
    border: 1px solid #cccccc;
    border-left: none;
    background-color: #b3b1b1;
}

.add-ships-table-row2 p {
    color: #7a7a7a;
}

.add-ships-table-row2 p:first-child {
    margin-top: 0px;
}

.add-ships-table-row3 div,
.add-ships-table-row4 div,
.add-ships-table-row5 div {
    width: 100%;
}

.add-ships-table-row3 div:last-child,
.add-ships-table-row4 div:last-child,
.add-ships-table-row5 div:last-child {
    padding-right: 0;
}

.add-ships-table-row5 div {
    padding-bottom: 20px;
}

.add-ships-table-elem {
    float: left;
    padding-right: 20px;
}

.add-ships-table-elem p {
    color: #7a7a7a;
}

.add-ships-table-elem input {
    width: 100%;
    height: 30px;
    border: solid #dddddd 1px;
    padding-left: 9px;
}

.add-ships-table-elem select {
    width: 100%;
    height: 30px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.add-ships-table-elem textarea {
    resize: none;
    width: 100%;
    height: 130px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.add-ships-table-elem p {
    margin-bottom: 0px;
}

.add-ships-table-row1 {
    height: 70px;
}

.add-ships-table-row1 div:first-child {
    width: 16%;
    padding-top: 10px;
}

.add-ships-table-row1 div:nth-child(2) {
    width: 70%;
    padding-top: 10px;
}

.add-ships-table-row1 div:last-child {
    width: 14%;
    float: right;
    padding: 0;
    padding-top: 10px;
}

.add-ships-table-elem {
    float: left;
    padding-right: 20px;
}

.add-ships-table-elem p {
    color: #7a7a7a;
}

.add-ships-table-elem input {
    width: 100%;
    height: 30px;
    border: solid #dddddd 1px;
    padding-left: 9px;
}

.add-ships-table-elem select {
    width: 100%;
    height: 30px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.add-ships-table-elem textarea {
    resize: none;
    width: 100%;
    height: 130px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.decks-block {
    height: 305px;
}

.decks-block-active {
    background-color: #f1f1f1;
}

.decks-left-side {
    width: 55%;
}

.decks-right-side {
    width: 45%;
    padding-right: 0;
}

.decks-left-side textarea {
    margin-top: 10px;
    height: 150px;
}

.decks-right-side textarea {
    margin-top: 10px;
    height: 182px;
}

.btn-select {
    border: none;
    color: #ffffff;
    background-color: #6480a0;
    width: 100%;
}

.btn-select:hover {
    color: #ffffff;
    background-color: #6480a0;
}

.sun-decks {
    border-bottom: 1px dashed #959595;
}

.sun-decks h3 {
    text-transform: uppercase;
    color: #a6a6a6;
}

.main-decks {
    border-bottom: 1px dashed #959595;
}

.main-decks h3 {
    text-transform: uppercase;
    color: #a6a6a6;
}

.bed-number {
    color: #7a7a7a;
    margin-bottom: 10px;
}

.bed-number p {
    margin-bottom: 0px;
    margin-top: 5px;
}

.ships-width-bed {
    width: 25%;
    padding-left: 5px;
}

.modal-ships-inner-element {
    width: 100%;
}

.modal-ships-inner-element p {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #7b7b7b;
}

.modal-ships-inner-element select {
    width: 100%;
    height: 30px;
    border-radius: 0;
    padding-left: 3px;
}

.modal-ships-inner-element input {
    width: 85%;
    height: 30px;
    color: #7b7b7b;
    border-radius: 0;
    padding-left: 3px;
}

.modal-ships-input-value {
    float: right;
    width: 15%;
    background-color: #b3b1b1;
    color: #ffffff;
    height: 30px;
}

.modal-ships-input-value p {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
    color: #ffffff
}

.details-ships-input-value {
    float: left;
    width: 10%;
    background-color: #b3b1b1;
    color: #ffffff;
    height: 30px;
}

.details-ships-input-value p {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
    color: #ffffff
}

.modal-ships-inner-element input[type=checkbox] {
    display: inline-block !important;
    width: auto;
    height: auto;
    margin-top: 0;
}

.modal-ships-inner-element input[type=checkbox]+label:before {
    display: none;
}

.modal-ships-inner-element textarea {
    resize: none;
    width: 100%;
}

.modal-ships-inner-element ul {
    padding-left: 0;
    margin-top: 10px;
}

.modal-ships-inner-element label {
    font-weight: 200;
    color: #7b7b7b;
}

.ships-modal-left {
    width: 49%;
}

.ships-modal-right {
    width: 49%;
}

.cabin-input input {
    width: 100%;
}

.table-cabins tbody tr td {
    vertical-align: middle;
}

.table-cabins {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.btn-add-cabin {
    margin-bottom: 15px;
}


/* ships end */

.custom-dropdown-table ul li a img {
    cursor: pointer;
}


/* hotels start */

.add-navigation {
    width: 100%;
    display: inline-block;
    background-color: #6480a0;
    height: 55px;
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 8px;
}

.label-add-navigation {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    float: left;
    padding-top: 3px;
}

.buttons-add-navigation {
    float: right;
    color: #ffffff;
}

.buttons-add-navigation a {
    color: #ffffff;
}


/* modal addroom */

.modal-addroom-left {
    width: 48%;
}

.modal-addroom-right {
    width: 48%;
}


/* modal addroom end */


/* form */

.add-hotel-table-elem {
    float: left;
    padding-right: 20px;
}

.add-hotel-table-elem p {
    color: #7a7a7a;
}

.add-hotel-table-elem input {
    width: 100%;
    height: 30px;
    border: solid #dddddd 1px;
    padding-left: 9px;
}

.add-hotel-table-elem select {
    width: 100%;
    height: 30px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.add-hotel-table-elem textarea {
    resize: none;
    width: 100%;
    height: 130px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.add-hotel-table-row1 {
    height: 70px;
}

.add-hotel-table-row1 div:first-child {
    width: 16%;
    padding-top: 10px;
}

.add-hotel-table-row1 div:nth-child(2) {
    width: 70%;
    padding-top: 10px;
}

.add-hotel-table-row1 div:last-child {
    width: 14%;
    float: right;
    padding: 0;
    padding-top: 10px;
}

.add-hotel-table-nav {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: dashed #959595 1px;
}

.add-hotel-table-nav-tabs li {
    float: left !important;
}

.add-hotel-table-nav-tabs li:last-child a {
    margin-left: -6px !important;
}

.add-hotel-table-nav-tabs li a {
    margin-left: 0 !important;
}

.add-hotel-table-row2 div:first-child {
    width: 46%;
    padding-top: 10px;
}

.add-hotel-table-row2 div:last-child {
    width: 54%;
    float: right;
    padding-right: 0;
    padding-top: 10px;
}

.add-hotel-table-row3 div,
.add-hotel-table-row4 div,
.add-hotel-table-row5 div {
    padding-top: 20px;
    width: 100%;
}

.add-hotel-table-row3 div:last-child,
.add-hotel-table-row4 div:last-child,
.add-hotel-table-row5 div:last-child {
    padding-right: 0;
}

.add-hotel-table-row5 div {
    padding-bottom: 20px;
}

.hotel-room-add-button {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hotel-room-add-button button {
    width: 200px;
}


/**/

.modal-addroom-inner-element {
    width: 100%;
    padding-top: 15px;
}

.modal-addroom-inner-element:first-child {
    padding-top: 5px;
}

.modal-addroom-inner-element label,
.modal-addroom-inner-element select {
    font-weight: 200;
    width: 100%;
    height: 30px;
    color: #7b7b7b;
}

.modal-addroom-inner-element input {
    width: 85%;
    height: 30px;
    padding-left: 5px;
    border: solid #dddddd 1px;
}

.modal-addroom-inner-element select {
    border: solid #dddddd 1px;
}

.modal-addroom-input-value {
    float: right;
    width: 15%;
    background-color: #b3b1b1;
    height: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 4px;
}

.modal-addroom-checkbox-label {
    float: right;
    width: 40% !important;
    margin-right: 200px;
}

.modal-addroom-inner-element input[type=checkbox] {
    display: block;
    width: auto;
    height: auto;
    float: left;
}

.modal-addroom-inner-element input[disabled] {
    background-color: #f4f4f4;
    border: solid #dddddd 1px;
}

.modal-edit-disabled {
    width: 100% !important;
}

.modal-addroom-inner-element textarea {
    resize: none;
    width: 100%;
    padding-left: 5px;
    height: 319px;
    border: solid #dddddd 1px;
}


/* form end */


/* table rooms */

.table-rooms {
    margin-top: 40px;
    border-bottom: solid #b5b5b5 2px;
}

.table-rooms tbody tr td {
    vertical-align: middle;
}

.table-rooms-category {
    background-color: #ffffff;
}

.table-rooms-first {
    border-top: solid #b5b5b5 1px;
}

.table-rooms thead tr th:first-child {
    width: 65%;
}


/* form end */


/* hotels  end */


/* services */

.services-page-tabs li.tab a {
    margin-right: -5px;
    margin-left: 0;
}

.services-page-tabs li.active a {
    margin-right: -5px !important;
    margin-left: 0 !important;
}

.modal-add-service-inner {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.modal-add-service-inner label {
    color: #7b7b7b;
}

.modal-add-service-inner select {
    width: 100%;
    height: 30px;
    border: solid #dddddd 1px;
    color: #7b7b7b;
}

.modal-add-excursion label {
    width: 100%;
    padding-top: 10px;
    color: #7b7b7b;
}

.modal-add-excursion input,
.modal-add-excursion select {
    height: 30px;
    padding-left: 5px;
}

.modal-add-excursion input,
.modal-add-excursion select,
.modal-add-excursion textarea {
    border: solid #dddddd 1px;
    width: 100%;
    color: #7b7b7b;
}

.modal-add-excursion-center {
    width: 100%;
}

.modal-add-excursion-center input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
}

.modal-add-excursion-left {
    width: 50%;
    padding-right: 5px;
}

.modal-add-services-right {
    width: 50%;
    padding-left: 5px;
}

.modal-add-services-right textarea {
    resize: none;
}

.add-excursion-right textarea {
    width: 100%;
    resize: none;
    height: 134px;
    padding-left: 5px;
}

.modal-add-excursion-inner {
    width: 49%;
}

.modal-add-excursion-inner input {
    width: 80%;
}

.modal-add-excursion-inner:last-child {
    padding-left: 5px;
    width: 51%;
}

.modal-add-excursion-input-value {
    float: right;
    width: 20%;
    background-color: #b3b1b1;
    height: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 4px;
}

.modal-add-excursion-input-value span {
    text-transform: uppercase;
}

.border-dashed {
    border: dashed #959595 2px;
}

.modal-add-excursion-price {
    margin-top: 34px;
    height: 118px;
    width: 100%;
    float: left;
    padding: 10px;
}

.tracking-input-by-cb {
    float: left;
    width: 100%;
}

.modal-add-excursion-price input {
    width: 80%;
}

.modal-add-excursion-price .modal-add-excursion-input-value {
    background-color: #ec9e24;
}

.modal-add-excursion-inner-element input[type=checkbox] {
    display: block !important;
    height: auto;
    width: auto;
    float: left;
    margin-right: 5px;
    margin-top: 14px;
}

.modal-add-excursion-inner-element label {
    float: left;
    width: 80%;
}

.modal-add-excursion-inner-element input[type=checkbox]+label:before {
    display: none;
}

.modal-add-excursion-inner-left {
    width: 45%;
    padding-top: 25px;
}

.modal-add-excursion-inner-right {
    width: 55%;
    padding-top: 30px;
}

.modal-add-excursion-inner-right input {
    width: 80%;
}

.modal-add-excursion-row {
    width: 100%;
    float: left;
}

.service-modals label {
    font-weight: 100;
    width: 87%;
}

.modal-add-transport-price {
    margin-top: 30px;
    height: 200px;
    float: left;
    width: 100%;
    padding: 10px;
}

.modal-add-transport-price input {
    width: 80%;
}

.modal-add-transport-price .modal-add-excursion-input-value {
    background-color: #ec9e24;
}

.ckeckbox-disabled-label {
    color: #cecece !important;
}

.md-services-buttons {
    padding-top: 1px;
}

.md-transport-tabs {
    width: 100%;
    padding: 0;
}

.md-transport-tabs li {
    height: 25px;
    float: left !important;
}

.md-transport-tabs li a {
    padding: 0 !important;
}

.md-transport-tabs li:first-child {
    width: 30%;
}

.md-transport-tabs li:last-child {
    width: 70%;
    padding-right: 4px;
}

.add-transport-right textarea {
    height: 173px;
}

.md-catering-tabs {
    width: 100%;
    display: inline-block;
}

.md-catering-tabs {
    width: 100%;
    padding: 0;
}

.md-catering-tabs li {
    height: 25px;
    width: 25%;
    float: left !important;
}

.md-catering-tabs li:last-child {
    width: 90px;
}

.md-catering-tabs li a {
    padding: 0 !important;
}

.modal-add-catering-price {
    margin-top: 26px;
    float: left;
    height: 200px;
    width: 100%;
    padding: 10px;
}

.modal-add-catering-price input {
    width: 80%;
}

.modal-add-catering-price .modal-add-excursion-input-value {
    background-color: #ec9e24;
}

.modal select[disabled],
.modal input[disabled] {
    background-color: #cecece;
}

.add-catering-right textarea {
    height: 192px;
}

.add-catering-right textarea:last-child {
    height: 191px;
}

.add-other-right textarea {
    height: 192px;
}

.add-other-right textarea:last-child {
    height: 191px;
}

.add-service-tab-elem {
    padding-bottom: 20px !important;
}

.add-service-tab-elem p {
    color: #7a7a7a;
}

.add-servicepackage-elem {
    width: 100% !important;
}

.add-servicepackage-elem input {
    border: solid #cdcdcd 1px !important;
}

.add-service-tab-elem {
    width: 100% !important;
}

.add-service-tab-elem span.select2.select2-container.select2-container--default.select2-container--below {
    width: 100% !important;
}

.add-service-tab-elem select.add-service-tab-select.select2-hidden-accessible {
    width: 100% !important;
}

.add-service-tab-elem span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.add-service-tab-elem .select2-selection--multiple {
    border: solid #cdcdcd 1px !important;
    border-radius: 0 !important;
}

.add-service-tab-elem .select2-selection--multiple {
    border: solid #cdcdcd 1px !important;
    border-radius: 0 !important;
}

.add-service-tab-elem .select2-selection__choice {
    border: none !important;
    border-radius: 0 !important;
}

.add-service-tab-elem .select2-selection__choice__remove {
    display: none !important;
}

.add-service-tab-table-left {
    width: 98% !important;
    padding-top: 5px;
}

.add-service-tab-table-left input {
    height: 30px !important;
    padding-left: 5px;
}

.add-service-tab-general-left label {
    width: 99%;
    font-weight: 100;
    color: #7e7b7d;
}

.add-service-tab-cb-label {
    width: 70% !important;
    padding-top: 9px;
}

.add-service-tab-cb {
    margin-top: 5px !important;
}

.add-service-tab-table-right p {
    color: #7e7b7d;
}

.add-service-tab-table-right textarea {
    resize: none;
    width: 100%;
    border: solid #cdcdcd 1px !important;
}

.add-service-description-ta {
    height: 156px;
}

.add-service-condition-ta {
    height: 126px;
}

.tab2-services th:first-child {
    width: 20%;
}

.tab2-services th:last-child {
    width: 20%;
}

.service-modal-left {
    float: left;
    height: 65px;
    width: 50%;
    padding-right: 5px;
}

.service-modal-right {
    float: right;
    height: 65px;
    width: 50%;
    padding-left: 5px;
}

.modal-tab2-add-services-center {
    width: 100%;
    height: 158px;
}

input:disabled,
textarea:disabled,
select:disabled {
    background-color: #f4f4f4 !important;
    border: solid 1px #dddddd !important;
}

.service-tab2 {
    height: 70px !important;
}

.spack-disabled-active {
    border: 1px solid #b3b1b1 !important;
    background-color: #b3b1b1 !important;
}

.spack-disabled {
    border: 1px solid #b3b1b1 !important;
    color: #b3b1b1 !important;
}

.spack-disabled:hover,
.spack-disabled:active {
    border: 1px solid #b3b1b1 !important;
    color: #b3b1b1 !important;
    background-color: #ffffff !important;
}

.spack-value-disabled {
    background-color: #b3b1b1 !important;
}

.ex-package textarea {
    height: 170px !important;
}

.ex-package textarea:last-child {
    height: 162px !important;
}

.border-bottom-dashed {
    border-bottom: dashed 1px #b3b1b1;
    height: 90px;
}

.pull-right a {
    text-decoration: none !important;
    color: #ffffff !important;
}

.button-link-cancel {
    padding-right: 26px !important;
    padding-left: 34px !important;
}

.modal-header-buttons a:focus {
    color: #ffffff!important;
    text-decoration: none!important;
}

.modal-header-buttons a:hover {
    color: #ffffff!important;
    text-decoration: none!important;
}

/* services end */

label.error {
    width: 100%;
    display: inline-block;
    color: red;
    padding-top: 3px;
}

input.error {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


/*clients start  */


/*b2c table start  */

.table-clients {
    margin-top: 70px;
}

.table-clients thead tr th:first-child {
    width: 20%;
}

.table-clients thead tr th:nth-child(2) {
    width: 25%;
}

.table-clients thead tr th:nth-child(3) {
    width: 20%;
}

.table-clients thead tr th:nth-child(4) {
    width: 10%;
}

.table-clients thead tr th:last-child {
    width: 25%;
}

/*b2c table end  */


/*b2b table start  */

.table-b2b {
    margin-top: 70px;
}

.table-b2b thead tr th:first-child {
    width: 20%;
}

.table-b2b thead tr th:nth-child(2) {
    width: 20%;
}

.table-b2b thead tr th:nth-child(3) {
    width: 20%;
}

.table-b2b thead tr th:nth-child(4) {
    width: 20%;
}

.table-b2b thead tr th:last-child {
    width: 20%;
}


/*b2b table end  */

.left-side-b2c {
    width: 50%;
}

.right-side-b2c {
    width: 50%;
}

.base-page-table-nav-buttons {
    margin-top: 20px;
}

.b2c-nav-buttons {
    border-bottom: 1px dashed grey;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.base-page-table-nav-buttons .b2c-page-tabs {
    text-align: left;
}

.b2c-page-tabs li.tab a {
    margin-right: -5px;
    margin-left: 0;
}

.b2c-page-tabs li.active a {
    margin-right: -5px !important;
    margin-left: 0 !important;
}

.b2c-table-row2 p {
    margin-bottom: 0px;
    margin-top: 5px;
}

.b2c-table-row2 p {
    color: #7a7a7a;
}

.name-input {
    width: 100%;
}

.b2c-table-row2 p {}

.name-input p {
    margin-top: 0px;
}

.name-input input,
.surname-input input,
.loyalcard-input input,
.email-input input,
.company-input input,
.company-id-input input {
    width: 95%;
    height: 30px;
    padding-left: 5px;
    border: solid #dddddd 1px;
}

.language-input select,
.country-input select {
    width: 95%;
    height: 30px;
    padding-left: 5px;
    border: solid #dddddd 1px;
    -webkit-border-radius: 0px;
}

.discount-input input {
    width: 85%;
    float: left;
    height: 30px;
    padding-left: 5px;
    border: solid #dddddd 1px;
}

.b2c-discount-percent {
    float: left;
    width: 10%;
    background-color: #b3b1b1;
    color: #ffffff;
    height: 30px;
}

.b2c-discount-percent p {
    text-align: center;
    color: #ffffff;
}

.email-input {
    float: left;
    width: 100%;
}

.loyalcard-input{
    float: left;
    width: 100%;
}

.b2c-name-placeholder,
.b2c-surname-placeholder,
.b2c-discount-placeholder,
.b2c-email-placeholder,
.b2c-language-placeholder,
.b2c-country-placeholder,
.b2c-card-placeholder {
    width: 100%;
    height: 30px;
    float: left;
    padding-left: 5px;
    border: 1px solid #cccccc;
}

.b2c-discount-placeholder {
    width: 90%;
    border-right: none;
}

.discount-input {
    float: left;
    width: 100%;
    height: auto;
}

.b2c-table-elem textarea {
    resize: none;
    width: 100%;
    height: 360px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.b2c-table-elem {
    float: left;
    padding-right: 20px;
}

.b2c-table-elem p {
    color: #7a7a7a;
    margin-bottom: 0;
}

.reservations form {
    margin-top: 15px;
}

.reservations select {
    width: 25%;
    float: left;
    height: 30px;
    border-radius: 0;
    border: solid 1px #cccccc;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cccccc;
}

.table-b2c {
    margin-top: 20px;
    float: left;
}

.table-b2c thead tr th:first-child {
    width: 10%;
}

.table-b2c thead tr th:nth-child(2) {
    width: 25%;
}

.table-b2c thead tr th:nth-child(3) {
    width: 20%;
}

.table-b2c thead tr th:nth-child(4) {
    width: 15%;
}

.table-b2c thead tr th:nth-child(5) {
    width: 15%;
}

.table-b2c thead tr th:last-child {
    width: 15%;
}

.table-notifications {
    margin-top: 20px;
    float: left;
}

.table-notifications thead tr th:first-child {
    width: 25%;
}

.table-b2notificationsc thead tr th:nth-child(2) {
    width: 50%;
}

.table-notifications thead tr th:last-child {
    width: 25%;
}

.b2b-general {
    border-bottom: 1px dashed grey;
    padding-bottom: 10px;
}

.b2b-table-elem textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.b2b-table-elem p {
    color: #7a7a7a;
    margin-bottom: 0;
}

.b2b-table-general {
    margin-top: 20px;
}

.b2b-table-general tbody tr td:first-child {
    width: 90%;
    padding-left: 40px;
}

.b2b-table-general tbody tr td:last-child {
    width: 10%;
}

.remove-btn {
    float: right;
}

.commission {
    margin-top: 5px;
    border: 1px dashed grey;
    height: auto;
    width: 100%;
    padding: 20px;
}

.commission p {
    margin-bottom: 0;
}

.commission-level,
.commission-ships {
    margin-bottom: 10px;
}

.percent {
    color: #ffffff;
}

.commission-level,
.commission-ships,
.commission-hotel {
    color: #7a7a7a;
}


.commission-level input {
    width: 40%;
    float: left;
    height: 26px;
    border: 1px solid #cccccc;
}

.commission-percent {
    float: left;
    height: 26px;
    width: 40px;
    background-color: grey;
    color: #ffffff;
    padding-left: 13px;
    padding-top: 3px;
}

.remove-commission {
    float: right;
    display: block;
    background-color: red;
    color: #ffffff;
    font-size: 20px;
    padding: 3px 5px 0px 4px;
    position: relative;
    bottom: 5px;
}

.remove-commission:hover {
    color: #ffffff;
}

.remove-commission:focus {
    color: #ffffff;
}

.commission-ships select,
.commission-hotel select {
    width: 100%;
    height: 30px;
    border-radius: none;
    border: 1px solid #cccccc;
}

.bank-details {
    margin-top: 5px;
    width: 100%;
}

.b2b-users {
    margin-top: 10px;
}

.b2b-users select {
    width: 25%;
    float: left;
    height: 30px;
    border-radius: 0;
    border: solid 1px #cccccc;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cccccc;
}

.table-b2b-add-user {
    margin-top: 20px;
    float: left;
}

.table-b2b-add-user thead tr th:first-child {
    width: 50%;
}

.table-b2b-add-user thead tr th:nth-child(2) {
    width: 30%;
}

.table-b2b-add-user thead tr th:last-child {
    width: 20%;
}

.b2b-client-edit form {
    margin-top: 15px;
}

/* .b2b-client-edit select {
    width: 25%;
    float: left;
    height: 30px;
    border-radius: 0;
    border: solid 1px #cccccc;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cccccc;
} */

.reservations-b2b form {
    margin-top: 15px;
}

.reservations-b2b select {
    width: 25%;
    float: left;
    height: 30px;
    border-radius: 0;
    border: solid 1px #cccccc;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #cccccc;
}

.table-reservations-b2b {
    margin-top: 20px;
    float: left;
}

.table-reservations-b2b thead tr th:first-child {
    width: 10%;
}

.table-reservations-b2b thead tr th:nth-child(2) {
    width: 25%;
}

.table-reservations-b2b thead tr th:nth-child(3) {
    width: 20%;
}

.table-reservations-b2b thead tr th:nth-child(4) {
    width: 15%;
}

.table-reservations-b2b thead tr th:nth-child(5) {
    width: 15%;
}

.table-reservations-b2b thead tr th:last-child {
    width: 15%;
}

.table-notifications-b2b {
    margin-top: 20px;
    float: left;
}

.table-notifications-b2b thead tr th:first-child {
    width: 10%;
}

.table-notifications-b2b thead tr th:nth-child(2) {
    width: 25%;
}

.table-notifications-b2b thead tr th:nth-child(3) {
    width: 50%;
}

.table-notifications-b2b thead tr th:last-child {
    width: 15%;
}

.table-history-b2b {
    margin-top: 20px;
    float: left;
}

.table-history-b2b thead tr th:first-child {
    width: 15%;
}

.table-history-b2b thead tr th:nth-child(2) {
    width: 25%;
}

.table-history-b2b thead tr th:last-child {
    width: 60%;
}

.b2b-client-edit textarea {
    height: 195px;
}

.addCommission {
    margin-top: 10px;
    float: right;
    width: auto;
    border: 1px solid #ec9e25;
    border-radius: 0;
    background-color: #ec9e25;
    background-image: url(../img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: 10%;
    color: #ffffff;
    padding: 8px 60px 8px 60px;
}

.addCommission:hover {
    color: #ffffff;
    border: 1px solid #ec9e25;
    border-radius: 0;
    background-color: #ec9e25;
    background-image: url(../img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: 10%;
    padding: 8px 60px 8px 60px;
}

.addCommission:active {
    border: 1px solid #ec9e25;
    border-radius: 0;
    background-color: #ec9e25;
    background-image: url(../img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: 10%;
    padding: 8px 60px 8px 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.addCommission:focus {
    border: 1px solid #ec9e25;
    border-radius: 0;
    background-color: #ec9e25;
    background-image: url(../img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: 10%;
    padding: 8px 60px 8px 60px;
    outline: none;
}

.history-modal p {
    color: #6b6b6b;
}

.date-history-modal {
    margin-top: 30px;
}

.modal-add-userb2b {
    width: 970px;
}

.commission span.select2.select2-container.select2-container--default.select2-container--below {
    width: 100% !important;
}

.commission select.add-service-tab-select.select2-hidden-accessible {
    width: 100% !important;
}

.commission span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.commission .select2-selection--multiple {
    border: solid #cdcdcd 1px !important;
    border-radius: 0 !important;
}

.commission .select2-selection--multiple {
    border: solid #cdcdcd 1px !important;
    border-radius: 0 !important;
}

.commission .select2-selection__choice {
    border: none !important;
    border-radius: 0 !important;
}

/*clients end  */


/*Itineraries start  */

.table-iteniraries thead tr th:first-child {
    width: 40%;
}

.table-iteniraries thead tr th:last-child {
    width: 40%;
}


/* modals */

.iteniraries-modal-body {
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    border-bottom: dashed 1px #a5a5a5;
}

.iteniraries-modal-body input {
    border: solid 1px #dedede;
    padding-left: 5px;
}

.iteniraries-modal-body label {
    font-weight: 100;
    color: #807b79;
}

.iteniraries-modal-body-left-elem {
    float: left;
    width: 90%;
}

.iteniraries-modal-body-left-elem label,
.iteniraries-modal-body-left-elem input {
    float: left;
    width: 100%;
}

.iteniraries-modal-body-left-elem input {
    height: 30px;
}

.iteniraries-modal-body-right-elem {
    float: right;
    width: 10%;
    padding-left: 20px;
}

.iteniraries-modal-body-right-elem input[type=number]::-webkit-inner-spin-button,
.iteniraries-modal-body-right-elem input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-table-iteniraries-right .select2-selection__choice__remove {
    padding-left: 5px;
    float: right;
}

.iteniraries-modal-body-right-elem label,
.iteniraries-modal-body-right-elem input {
    float: left;
    width: 100%;
}

.iteniraries-modal-body-right-elem input {
    height: 30px;
}

.modal-table-iteniraries-left {
    float: left;
    padding-top: 5px;
}

.modal-table-iteniraries-left label {
    text-transform: uppercase;
}

.modal-table-iteniraries-right {
    float: left;
    width: 84%;
    margin-left: 29px;
}

.modal-table-iteniraries-right.select2-container {
    width: 100% !important;
    height: 30px;
    margin-top: -4px;
}

.modal-table-iteniraries-right-select {
    width: 100%;
}

.modal-table-iteniraries-right .select2-selection__choice {
    border: none !important;
    border-radius: 0 !important;
}

.modal-table-iteniraries-right .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #dedede;
    border-radius: 0;
}

.modal-table-iteniraries-right .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 0;
    cursor: text;
}

.modal-table-iteniraries-right .select2-container {
    width: 100% !important;
    height: 34px;
}


/* modals end */


/*Itineraries end  */


/* service packages start  */

.table-serivce-packages {
    margin-top: 70px;
}

.table-serivce-packages thead tr th:first-child {
    width: 100%;
}

.table-serivce-packages .table-sort {
    width: 2%;
}

.table-serivce-packages .sort-bottom .sort-top {
    padding-left: 0;
}


/* service packages end  */


/*cruises start  */

.table-cruises {
    margin-top: 70px;
}

.table-cruises thead tr th:first-child {
    width: 10%;
}

.table-cruises thead tr th:nth-child(2) {
    width: 14%;
}

.table-cruises thead tr th:nth-child(3) {
    width: 15%;
}

.table-cruises thead tr th:nth-child(4) {
    width: 15%;
}

.table-cruises thead tr th:nth-child(5) {
    width: 8%;
}

.table-cruises thead tr th:nth-child(6) {
    width: 8%;
}

.table-cruises thead tr th:nth-child(7) {
    width: 10%;
}

.table-cruises thead tr th:last-child {
    width: 10%;
}

.base-page-table-nav-buttons .tab-cruises a {
    padding-left: 9px;
    padding-right: 9px;
}

.tab-cruises {
    text-align: right;
}

.left-side-cruises {
    width: 49%;
}

.right-side-cruises {
    width: 49%;
}

.season-input {
    width: 60%;
    float: left;
}

.season-input select,
.ship-info-input select {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border: solid #dddddd 1px;
    -webkit-border-radius: 0px;
}

.departure-date-input {
    width: 38%;
    float: right;
}

.departure-date-input input {
    width: 84%;
    float: left;
    height: 30px;
    padding-left: 5px;
    border: solid #dddddd 1px;
}

.departure-date-input span {
    padding-top: 4px;
    font-size: 20px;
}

.cruises-date-btn {
    float: left;
    width: 16%;
    background-color: #b3b1b1;
    color: #ffffff;
    height: 30px;
}

.cruises-date-btn .glyphicon-calendar {
    text-align: center;
    display: block;
}

.cruises-info-left {
    width: 100%
}

.season-date-cruise {
    width: 100%;
    border-bottom: 1px dashed #6b6b6b;
    padding-bottom: 15px;
}

.id-info-input input,
.ship-info-input input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border: solid #dddddd 1px;
}

.ending-date-cruise {
    width: 100%;
    padding-top: 10px;
}

.days-info-input input,
.nights-info-input input {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border: solid #dddddd 1px;
    -webkit-border-radius: 0px;
}

.days-info-input {
    float: left;
    width: 30%;
    margin-right: 5px;
}

.nights-info-input {
    float: left;
    width: 30%;
}

.cruises-table-elem textarea {
    resize: none;
    width: 100%;
    height: 360px;
    border: solid #dddddd 1px;
    padding-left: 5px;
}

.cruises-table-elem {
    float: left;
    width: 100%;
}

.cruises-table-elem p {
    color: #7a7a7a;
    margin-bottom: 0;
}

.release-info-right {
    border: 1px dashed #6b6b6b;
    padding: 10px 10px 20px 10px;
    margin-top: 25px;
}

.release-date-input {
    width: 40%;
    float: left;
}

.remind-date-input {
    width: 59%;
    float: right;
}

.release-date-input input,
.remind-date-input input {
    width: 80%;
    height: 30px;
    float: left;
    padding-left: 5px;
    border: solid #dddddd 1px;
}

.remind-date-input input {
    width: 40%;
}

.remind-date-input .cruises-date-btn {
    width: 60%;
    float: left;
    text-align: center;
    padding-top: 4px;
}

.release-date-input span {
    padding-top: 4px;
    font-size: 20px;
}

.cruises-note {
    margin-top: 7px;
}

.cruises-note textarea {
    height: 114px;
}

.base-page-navigation-cruises {
    width: 100%;
    height: 39px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.table-specials thead tr th:first-child {
    width: 15%;
}

.table-specials thead tr th:nth-child(2) {
    width: 15%;
}

.table-specials thead tr th:last-child {
    width: 70%;
}

.reservation-tabs {
    float: right;
    width: 40%;
    margin-top: 15px;
    text-align: right;
}

.search-reservation {
    border-bottom: 1px dashed #6b6b6b;
    height: 75px;
}

.search-reservation form{
    float: left;
    width: 60%;
}

.base-page-table-nav-buttons .tab-reservation-cruises {
    text-align: right;
    margin-right: 5px;
}

.base-page-cruises {
    margin-top: 30px;
    float: left;
    width: 100%;
}

.select-special {
    border-bottom: 1px dashed #7b7b7b;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
}

.select-special select {
    width: 50%;
    padding-left: 5px;
    height: 30px;
    border: solid #dddddd 1px;
    color: #7b7b7b;
}

.select-special p {
    margin-bottom: 0;
    color: #7b7b7b;
}

.date-expire {
    width: 50%;
    padding-top: 10px;
}

.date-expire p {
    margin-bottom: 0;
    color: #7b7b7b;
}

.cabine-type p {
    margin-bottom: 4px;
    color: #7b7b7b;
}

.date-expire input {
    width: 85%;
    height: 30px;
    border: 1px solid #dddddd;
    padding-left: 5px;
    color: #7b7b7b;
}

.date-expire .cruises-date-btn,
.service-package-modal .cruises-date-btn{
    float: right;
    width: 15%;
    padding-top: 6px;
}

.start-date-input {
    width: 48%;
    float: left;
}

.expire-date-input {
    width: 48%;
    float: right;
}

.cabine-type {
    width: 100%;
    margin-top: 10px;
}

.cabine-type input {
    width: 100%;
}

.cabine-type .select2-container {
    width: 100% !important;
    height: 30px;
    margin-top: -4px;
}

.cabine-type-select {
    width: 100%;
}

.cabine-type .select2-selection__choice {
    border: none !important;
    border-radius: 0 !important;
}

.cabine-type .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #dedede;
    border-radius: 0;
}

.cabine-type .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 0;
    cursor: text;
}

.cabine-type .select2-container {
    width: 100% !important;
    height: 34px;
}

.select-special-block {
    margin-top: 10px;
    width: 100%;
}

.choose-special {
    width: 44%;
    float: left;
}

.choose-special select {
    width: 100%;
    height: 30px;
    border: 1px solid #dddddd;
    padding-left: 5px;
    color: #7b7b7b;
}

.special-input {
    width: 27%;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}

.special-input input {
    width: 80%;
    float: left;
    height: 30px;
    border: 1px solid #dddddd;
    padding-left: 5px;
    color: #7b7b7b;
}

.special-input .cruises-date-btn{
    float: left;
    text-align: center;
    padding-top: 4px;
}

.select-special-block p {
    margin-bottom: 0;
}

.conditions {
    margin-top: 10px;
    width: 100%;
}

.conditions p {
    margin-bottom: 0;
}

.conditions select {
    width: 44%;
    height: 30px;
    border: 1px solid #dddddd;
    padding-left: 5px;
    color: #7b7b7b;
}

.apply-special {
    margin-top: 10px;
}

.apply-special input[type=checkbox], input[type=radio] {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.select-wine .select2-container {
    width: 100% !important;
    height: 30px;
    margin-top: -4px;
}

.select-wine-select {
    width: 100%;
}

.select-wine .select2-selection__choice {
    border: none !important;
    border-radius: 0 !important;
}

.select-wine .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #dedede;
    border-radius: 0;
}

.select-wine .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 0;
    cursor: text;
}

.select-wine .select2-container {
    width: 100% !important;
    height: 34px;
}

.select-special-block .select-wine {
    width: 100%;
    margin-top: 14px;
    float: left;
}

.service-package-modal .date-expire input {
    width: 85%;
    height: 30px;
    border: 1px solid #dddddd;
    padding-left: 5px;
    color: #7b7b7b;
}

/*cruises end  */

/*tours start  */

.table-tours {
    margin-top: 70px;
}

.table-tours thead tr th:first-child {
    width: 10%;
}

.table-tours thead tr th:nth-child(2) {
    width: 14%;
}

.table-tours thead tr th:nth-child(3) {
    width: 15%;
}

.table-tours thead tr th:nth-child(4) {
    width: 15%;
}

.table-tours thead tr th:nth-child(5) {
    width: 8%;
}

.table-tours thead tr th:nth-child(6) {
    width: 8%;
}

.table-tours thead tr th:nth-child(7) {
    width: 12%;
}

.table-tours thead tr th:last-child {
    width: 8%;
}

.tour-tabs li {
    margin: 0 !important;
    margin-left: -5px !important;
    width: 13%;
}

.tour-tabs li:first-child {
    margin-left: 0px !important;
}

.tour-tabs li:nth-child(2) {
    width: 16%;
}

.tour-tabs li:nth-child(3) {
    width: 11%;
}

.tour-tabs li:nth-child(4) {
    width: 21%;
}

.tour-tabs li a {
    margin: 0 !important;
    box-sizing: border-box;
    padding: 8px 0 8px 0px !important;
}

.tab-service-general {
    width: 100%;
    padding-bottom: 15px;
}

.tab-service-general label {
    width: 100%;
    color: #7a7a7a;
}

.tab-service-general select,
.tab-service-general input {
    height: 30px;
    border: solid 1px #dddddd;
}

.tab-service-general select {
    width: 100%;
    color: #7d7d7d;
    border: solid 1px #dddddd;
}

.tab-service-general input {
    width: 100%;
    color: #7d7d7d;
    border: solid 1px #dddddd;
}

.service-general-form-body {
    float: left;
    height: 312px;
    padding-bottom: 20px;
}

.service-general-form-body label {
    font-weight: 100;
}

.add-service-tab-general-left input {
    border: solid 1px #dddddd;
}

.add-service-tab-general-left select {
    width: 100%;
    height: 30px;
    color: #7d7d7d;
    border: solid 1px #dddddd;
}

.glyphicon-calendar {
    font-size: 20px;
}

.service-general-span {
    width: 16% !important;
}

.service-general-text-span {
    width: 49% !important;
}

.modal-add-service-input-value {
    float: right;
    width: 15%;
    background-color: #b3b1b1;
    height: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 4px;
}

.modal-add-service-left-inner {
    width: 55%;
}

.modal-add-service-right-inner .modal-add-excursion-inner-element input {
    width: 84%;
}

.modal-add-service-right-inner {
    width: 178px;
    float: right;
}

.add-service-general-row {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.dashed {
    border-bottom: dashed 1px #7d7d7d;
}

.service-general-left-elements {
    width: 31%;
}

.service-general-left-elements input {
    width: 100%;
}

.service-general-center-element {
    padding-left: 11px;
}

.service-general-left-element {
    float: left;
    width: 100%;
}

.add-service-general-description-ta {
    height: 100px !important;
}

.modal-add-service-right-element {
    width: 40% !important;
    float: left;
}

.modal-add-service-right-element input {
    width: 100%;
}

.modal-add-service-left-element {
    width: 58% !important;
    float: right;
}

.service-general-femind input {
    height: 30px;
    width: 51%;
    padding-left: 5px;
}

.service-general-rdate input {
    height: 30px;
    width: 84%;
    padding-left: 5px;
}

.add-service-general-left-row {
    float: left;
    width: 100%;
    padding: 20px !important;
    border: dashed 1px #7d7d7d;
    margin-bottom: 15px;
    margin-top: 30px;
}

.service-general-ta textarea {
    height: 119px !important;
}

.general-bottom-tabs-left {
    width: 50%;
    padding-right: 15px;
    float: left;
}

.general-bottom-tabs-left label {
    width: 100%;
    font-weight: 100;
    color: #7a7a7a;
}

.general-bottom-tabs-left select {
    width: 100%;
    height: 30px;
    color: #7a7a7a;
    border: solid 1px #dddddd;
}

.general-bottom-tabs-right {
    width: 50%;
    padding-left: 15px;
    float: right;
}

.general-bottom-tabs-right label {
    width: 100%;
    font-weight: 100;
    color: #7a7a7a;
}

.general-bottom-tabs-right select {
    width: 100%;
    height: 30px;
    color: #7a7a7a;
    border: solid 1px #dddddd;
}

.services-tour-type-tabs {
    float: left;
}

.services-tour-type-tabs ul li {
    float: left !important;
}

.services-tour-type-tabs ul li a {
    padding: 3px 30px 3px 30px !important;
}

.service-itinerary-body {
    width: 100%;
}

.service-itinerary-head {
    width: 100%;
    float: left;
    height: 80px;
    padding-top: 4px;
    margin-bottom: 20px;
}

.service-itinerary-head-elem {
    float: left;
    height: 30px;
    padding-right: 20px;
}

.service-itinerary-head-elem label {
    width: 100%;
    font-weight: 100;
    color: #7a7a7a;
}

.service-itinerary-head-elem select {
    width: 100%;
    height: 30px;
    color: #7a7a7a;
    border: solid 1px #dddddd;
    padding-left: 3px;
}

.service-itinerary-head-elem input {
    width: 100%;
    height: 30px;
    color: #7a7a7a;
    border: solid 1px #dddddd;
    padding-left: 5px;
}

.service-itinerary-head .service-itinerary-head-elem:first-child {
    width: 46%;
    margin-right: 0;
    padding-right: 0;
}

.service-itinerary-head-right-elems {
    float: right;
}

.service-itinerary-head-right-elems .service-itinerary-head-elem:last-child {
    float: right;
}

.service-itinerary-head .service-itinerary-head-elem:last-child {
    padding-right: 0;
}

.service-itinerary-head-left {
    float: left;
    width: 40%;
}

.service-itinerary-head-left label {
    color: #a6a6a6;
    font-weight: 100;
}

.service-itinerary-head-right {
    float: right;
    width: 40%;
}

.bold {
    font-weight: bold;
}

.service-itinerary-head-right label {
    float: right;
    padding-top: 25px;
    color: #a6a6a6;
    font-weight: 100;
}

.service-itinerary-border-dashed {
    border-top: dashed 1px #7d7d7d;
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service-tabs-table thead tr th {
    font-weight: 100;
}

.service-tabs-table td input[type=checkbox] {
    margin: 0 auto;
    margin-top: 4px;
}

.calendar {
    width: 83% !important;
}

.service-tabs-table td input[type=text] {
    background-color: transparent;
    height: 26px;
    border: solid 1px #dddddd;
    padding-left: 5px;
    margin: 0 auto;
    float: left;
    width: 100%;
}

.display-block {
    display: block !important;
}

.service-itinerary-table-bottom {
    width: 100%;
    height: 57px;
}

.service-itinerary-table-bottom-left {
    float: left;
    width: 89%;
    padding-bottom: 10px;
}

.service-itinerary-table-bottom-left .modal-table-iteniraries-right {
    margin-left: 0;
}

.service-itinerary-table-bottom-right {
    float: left;
}

.service-itinerary-table-bottom-right-elem {
    float: left;
}

.service-itinerary-table-bottom-right-elem span {
    cursor: pointer;
    margin-top: 20px;
    font-size: 35px;
    -webkit-text-stroke: 7px #ffffff;
}

.service-itinerary-table-bottom-right-elem .glyphicon-minus {
    margin-right: 10px;
    margin-left: 30px;
    color: #d0011b;
}

.service-itinerary-table-bottom-right-elem .glyphicon-plus {
    color: #6480a0;
}

.full-width {
    width: 100% !important;
}

.service-itinerary-table-bottom-left .modal-table-iteniraries-right label {
    width: 100%;
    color: #7a7a7a;
    font-weight: 100;
}

.table-calendar-service-tabs {
    background-color: #b3b1b1;
    height: 26px;
    text-align: center;
    color: #ffffff;
    padding-top: 4px;
    float: left;
    width: 29px !important;
}

.table-calendar-service-tabs span {
    font-size: 17px;
}

.service-itinerary-table {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.other-service-tab-table tr th:first-child {
    width: 60%;
}

table thead .glyphicon-menu-down,
table thead .glyphicon-menu-up {
    -webkit-text-stroke: 1px #6480a0;
}

.label-service-tabs-uppercase {
    text-transform: uppercase;
}

.service-tab-rates-table th:first-child {
    width: 10% !important;
}

.service-tab-rates-table td:first-child {
    background-color: #ffffff;
    vertical-align: middle;
}

.service-tab-rates-table td:nth-child(2) {
    background-color: #ffffff;
    height: 100%;
}

.service-tab-rates-table td:nth-child(2) input {
    height: 100%;
}

.service-tab-rates-table td:nth-child(3) {
    background-color: #ffffff;
    height: 100%;
}

.service-tab-rates-table td:nth-child(3) input {
    height: 100%;
}

.other-service-tab-table>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.other-service-tab-table>tbody>tr:nth-of-type(even) {
    background-color: #eaeaea;
}

.padding-remove {
    padding: 0 !important;
}

.tab-rates-bottom-table {
    margin: 0 !important;
}

.tab-rates-bottom-table-elems {
    margin-bottom: 15px;
}

.tab-rates-labels {
    color: #a6a6a6;
    float: left;
    margin-top: 10px;
}

.tab-rates-bottom-table-elems:first-child {
    width: 20% !important;
    margin-right: 25px !important;
}

.tab-rates-bottom-table-elems:last-child {
    width: 53% !important;
    margin-right: 25px !important;
}

.tab-rates-number-of-cabins {
    width: 53% !important;
    float: left;
}

.service-rates-bottom-spans:first-child span {
    padding-right: 0px !important;
}

.service-rates-bottom-spans span {
    margin: 0 !important;
    font-size: 23px;
    -webkit-text-stroke: 3px #ffffff !important;
    padding-right: 5px;
    padding-left: 5px;
}

.service-rates-table-bottom {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.service-rates-tables-bottom {
    padding-top: 10px;
    margin-top: 15px;
    border-top: dashed 1px #959595;
    margin-bottom: 25px;
    height: 66px;
    float: left;
    width: 100%;
}

.tab-condition-row {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.tab-condition-row2 {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: dashed 1px #959595;
    padding-bottom: 15px;
}

.tab-condition-row3 {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.tab-rates-bottom-tables-elems {
    width: 30%;
    float: left;
}

.tab-retes-input-value {
    float: right;
    width: 16%;
    background-color: #ec9e25;
    height: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 4px;
}

.tab-conditions-elem {
    width: 53% !important;
    margin-right: 25px !important;
}

.tab-conditions-payment {
    width: 42%;
    float: left;
}

.tab-conditions-elem p {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 28px;
    color: #7a7a7a;
}

.service-rates-table-bottom-elem {
    float: left;
}

.tab-condition-row2 .tab-conditions-elem p {
    margin: 0;
    margin-top: 5px;
}

.tab-condition-row2 .tab-conditions-elem p:first-child {
    margin-right: 5px;
}

.tab-condition-row2 .tab-conditions-elem p:last-child {
    margin-left: 5px;
}

.tab-condition-row3 .tab-conditions-elem {
    width: 100% !important;
    margin-bottom: 10px;
}

.tab-condition-row3 .tab-conditions-elem p {
    margin: 0;
    margin-top: 5px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.first-p {
    padding-left: 0px !important;
}

.tab-condition-row3 .tab-conditions-elem p,
.tab-condition-row3 .tab-conditions-elem input {
    float: left;
    margin: 0;
    display: block !important;
}

.tab-conditions-elem-dash {
    padding-left: 10px;
    padding-right: 5px !important;
}

.tab-condition-row3 .tab-conditions-elem input[type=text] {
    width: 20%;
    padding-left: 5px;
    border: solid 1px #dddddd;
    height: 30px;
}

.tab-condition-row3 .tab-conditions-elem input[type=checkbox] {
    width: 2%;
    margin-top: 9px;
}

.input-for-upto {
    width: 20% !important;
}

.tab-conditions-payment-days {
    width: 10%;
    float: left;
}

.tab-conditions-payment-days .service-general-span {
    width: 50% !important;
}

.tab-conditions-payment-days input {
    width: 50% !important;
}

.tab-conditions-elem-label label {
    font-weight: 100;
    color: #7e7b7d;
}

.tab-implementation-row {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: dashed 1px #959595;
    margin-bottom: 10px;
    float: left;
}

.tab-implementation-row:last-child {
    border-bottom: none !important;
}

.tab-implementation-row label {
    color: #7e7b7d;
    font-weight: 100;
    text-transform: uppercase;
}

.tab-implementation-row-left {
    float: left;
    width: 50%;
    padding-right: 5px;
}

.tab-implementation-row-right {
    float: right;
    width: 50%;
    padding-left: 5px;
}

.tab-implementation-table-cell-left {
    float: left;
}

.tab-implementation-table-cell-right {
    float: right;
    width: 10%;
}

.tab-implementation-table tbody tr td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.tab-specials-table thead tr th:last-child {
    width: 75% !important;
}

.tab-reservations-table-nav-buttons {
    padding-bottom: 19px;
    margin-bottom: 10px;
    border-bottom: dashed 1px #959595;
}

.tab-table-reservations {
    height: auto !important;
    float: left;
}

.modal-discount-row {
    width: 100%;
}

.modal-discount-calendar {
    float: none !important;
}

.hide-tab-link {
    display: none !important;
}

.copy-btn {
    background-image: none !important;
    background-color: #ec9e25 !important;
}

.anchor-copied .tab-rates-bottom-table-elems:first-child {
    width: 200px !important;
}

.anchor-copied .tab-rates-bottom-table-elems .tab-rates-number-of-cabins {
    width: 279px !important;
}

.tour-tab-rates-table thead tr th:first-child {
    width: 5%;
}

.tour-service-rates-table-bottom-elem {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.tour-service-itinerary-table-bottom-right {
    margin-top: 25px;
    float: left;
}

.tour-service-rates-tab-general-left {
    width: 20% !important;
    float: left;
}


/*tours end  */
